*{
    padding:0px;
    margin:0px;
    box-sizing:border-box;
}
.event-card-carousel{
     height:50vh;
     width:50vw;
     margin-top:20vh;
     margin-left:20vw;
     border-style:solid;
     border-color: black;
     position: relative;
     overflow: hidden;
     transition-duration: 2s;
     transition-property: all;
}
.carousel-indicators{
    list-style:none;
}
.slide{
    height:50vh;
    width:50vw;
    transition: 0s;
    position: absolute;
    transition-duration: 2s;
     transition-property: all;
}
.carousel-nav{
    text-align:center;
    margin-top:15px;
    margin-right:25px;
}
.carousel-nav button{
    font-size:25px;
    padding:5px;
}
.event-card-carousel:hover{
    margin:0px 0px 0px 0px;
    width:100vw;
    height:90vh;
}
.slide:hover{
        margin:0px 0px 0px 0px;
        width:100vw;
        height:90vh;
}